<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>levels</key>
	<array>
		<dict>
			<key>background</key>
			<string>bg1</string>
			<key>clef</key>
			<string>clefTreble</string>
			<key>challenges</key>
			<dict>
				<key>challenge06</key>
				<array>
					<string>D in a Space</string>
					<string>S0</string>
					<string>soundD4</string>
				</array>
				<key>challenge05</key>
				<array>
					<string>F in a Space</string>
					<string>S1</string>
					<string>soundF4</string>
				</array>
				<key>challenge04</key>
				<array>
					<string>A in a Space</string>
					<string>S2</string>
					<string>soundA4</string>
				</array>
				<key>challenge03</key>
				<array>
					<string>C in a Space</string>
					<string>S3</string>
					<string>soundC5</string>
				</array>
				<key>challenge02</key>
				<array>
					<string>E in a Space</string>
					<string>S4</string>
					<string>soundE5</string>
				</array>
				<key>challenge01</key>
				<array>
					<string>G in a Space</string>
					<string>S5</string>
					<string>soundG5</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>background</key>
			<string>bg2</string>
			<key>clef</key>
			<string>clefBass</string>
			<key>challenges</key>
			<dict>
				<key>challenge05</key>
				<array>
					<string>G on a Line</string>
					<string>L1</string>
					<string>soundG2</string>
				</array>
				<key>challenge04</key>
				<array>
					<string>B on a Line</string>
					<string>L2</string>
					<string>soundB2</string>
				</array>
				<key>challenge03</key>
				<array>
					<string>D on a Line</string>
					<string>L3</string>
					<string>soundD3</string>
				</array>
				<key>challenge02</key>
				<array>
					<string>F on a Line</string>
					<string>L4</string>
					<string>soundF3</string>
				</array>
				<key>challenge01</key>
				<array>
					<string>A on a Line</string>
					<string>L5</string>
					<string>soundA3</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>background</key>
			<string>bg3</string>
			<key>clef</key>
			<string>clefTreble</string>
			<key>challenges</key>
			<dict>
				<key>challenge05</key>
				<array>
					<string>F on a Line</string>
					<string>L5</string>
					<string>soundF5</string>
				</array>
				<key>challenge04</key>
				<array>
					<string>D on a Line</string>
					<string>L4</string>
					<string>soundD5</string>
				</array>
				<key>challenge03</key>
				<array>
					<string>B on a Line</string>
					<string>L3</string>
					<string>soundB4</string>
				</array>
				<key>challenge02</key>
				<array>
					<string>G on a Line</string>
					<string>L2</string>
					<string>soundG4</string>
				</array>
				<key>challenge01</key>
				<array>
					<string>E on a Line</string>
					<string>L1</string>
					<string>soundE4</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>background</key>
			<string>bg4</string>
			<key>clef</key>
			<string>clefBass</string>
			<key>challenges</key>
			<dict>
				<key>challenge06</key>
				<array>
					<string>B in a Space</string>
					<string>S5</string>
					<string>soundB3</string>
				</array>
				<key>challenge05</key>
				<array>
					<string>G in a Space </string>
					<string>S4</string>
					<string>soundG3</string>
				</array>
				<key>challenge04</key>
				<array>
					<string>E in a Space</string>
					<string>S3</string>
					<string>soundE3</string>
				</array>
				<key>challenge03</key>
				<array>
					<string>C in a Space</string>
					<string>S2</string>
					<string>soundC3</string>
				</array>
				<key>challenge02</key>
				<array>
					<string>A in a Space</string>
					<string>S1</string>
					<string>soundA2</string>
				</array>
				<key>challenge01</key>
				<array>
					<string>F in a Space</string>
					<string>S0</string>
					<string>soundF2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>background</key>
			<string>bg5</string>
			<key>clef</key>
			<string>clefBass</string>
			<key>challenges</key>
			<dict>
				<key>challenge11</key>
				<array>
					<string>A on a Line</string>
					<string>L5</string>
					<string>soundA3</string>
				</array>
				<key>challenge10</key>
				<array>
					<string>F on a Line</string>
					<string>L4</string>
					<string>soundF3</string>
				</array>
				<key>challenge09</key>
				<array>
					<string>D on a Line</string>
					<string>L3</string>
					<string>soundD2</string>
				</array>
				<key>challenge08</key>
				<array>
					<string>B on a Line</string>
					<string>L2</string>
					<string>soundB2</string>
				</array>
				<key>challenge07</key>
				<array>
					<string>G on a Line</string>
					<string>L1</string>
					<string>soundG2</string>
				</array>
				<key>challenge06</key>
				<array>
					<string>B in a Space</string>
					<string>S5</string>
					<string>soundB3</string>
				</array>
				<key>challenge05</key>
				<array>
					<string>G in a Space</string>
					<string>S4</string>
					<string>soundG3</string>
				</array>
				<key>challenge04</key>
				<array>
					<string>E in a Space</string>
					<string>S3</string>
					<string>soundE3</string>
				</array>
				<key>challenge03</key>
				<array>
					<string>C in a Space</string>
					<string>S2</string>
					<string>soundC3</string>
				</array>
				<key>challenge02</key>
				<array>
					<string>A in a Space</string>
					<string>S1</string>
					<string>soundA2</string>
				</array>
				<key>challenge01</key>
				<array>
					<string>F in a Space</string>
					<string>S0</string>
					<string>soundF2</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>background</key>
			<string>bg6</string>
			<key>clef</key>
			<string>clefTreble</string>
			<key>challenges</key>
			<dict>
				<key>challenge11</key>
				<array>
					<string>F on a Line</string>
					<string>L5</string>
					<string>soundF5</string>
				</array>
				<key>challenge10</key>
				<array>
					<string>D on a Line</string>
					<string>L4</string>
					<string>soundD5</string>
				</array>
				<key>challenge09</key>
				<array>
					<string>B on a Line</string>
					<string>L3</string>
					<string>soundB4</string>
				</array>
				<key>challenge08</key>
				<array>
					<string>G on a Line </string>
					<string>L2</string>
					<string>soundG4</string>
				</array>
				<key>challenge07</key>
				<array>
					<string>E on a Line</string>
					<string>L1</string>
					<string>soundE4</string>
				</array>
				<key>challenge06</key>
				<array>
					<string>G in a Space</string>
					<string>S5</string>
					<string>soundG5</string>
				</array>
				<key>challenge05</key>
				<array>
					<string>E in a Space</string>
					<string>S4</string>
					<string>soundE5</string>
				</array>
				<key>challenge04</key>
				<array>
					<string>C in a Space</string>
					<string>S3</string>
					<string>soundC5</string>
				</array>
				<key>challenge03</key>
				<array>
					<string>A in a Space</string>
					<string>S2</string>
					<string>soundA4</string>
				</array>
				<key>challenge02</key>
				<array>
					<string>F in a Space</string>
					<string>S1</string>
					<string>soundF4</string>
				</array>
				<key>challenge01</key>
				<array>
					<string>D in a Space</string>
					<string>S0</string>
					<string>soundD4</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>background</key>
			<string>bg7</string>
			<key>clef</key>
			<string>clefTreble</string>
			<key>challenges</key>
			<dict>
				<key>challenge04</key>
				<array>
					<string>D minor Pentascale</string>
					<array>
						<array>
							<string>S0</string>
							<string>soundD4</string>
						</array>
						<array>
							<string>L1</string>
							<string>soundE4</string>
						</array>
						<array>
							<string>S1</string>
							<string>soundF4</string>
						</array>
						<array>
							<string>L2</string>
							<string>soundG4</string>
						</array>
						<array>
							<string>S2</string>
							<string>soundA4</string>
						</array>
					</array>
				</array>
				<key>challenge03</key>
				<array>
					<string>A minor Pentascale</string>
					<array>
						<array>
							<string>S2</string>
							<string>soundA4</string>
						</array>
						<array>
							<string>L3</string>
							<string>soundB4</string>
						</array>
						<array>
							<string>S3</string>
							<string>soundC5</string>
						</array>
						<array>
							<string>L4</string>
							<string>soundD5</string>
						</array>
						<array>
							<string>S4</string>
							<string>soundE5</string>
						</array>
					</array>
				</array>
				<key>challenge02</key>
				<array>
					<string>G major Pentascale</string>
					<array>
						<array>
							<string>L2</string>
							<string>soundG4</string>
						</array>
						<array>
							<string>S2</string>
							<string>soundA4</string>
						</array>
						<array>
							<string>L3</string>
							<string>soundB4</string>
						</array>
						<array>
							<string>S3</string>
							<string>soundC5</string>
						</array>
						<array>
							<string>L4</string>
							<string>soundD5</string>
						</array>
					</array>
				</array>
				<key>challenge01</key>
				<array>
					<string>C major Pentascale</string>
					<array>
						<array>
							<string>S3</string>
							<string>soundC5</string>
						</array>
						<array>
							<string>L4</string>
							<string>soundD5</string>
						</array>
						<array>
							<string>S4</string>
							<string>soundE5</string>
						</array>
						<array>
							<string>L5</string>
							<string>soundF5</string>
						</array>
						<array>
							<string>S5</string>
							<string>soundG5</string>
						</array>
					</array>
				</array>
			</dict>
		</dict>
		<dict>
			<key>background</key>
			<string>bg8</string>
			<key>clef</key>
			<string>clefBass</string>
			<key>challenges</key>
			<dict>
				<key>challenge01</key>
				<array>
					<string>D minor Pentascale</string>
					<array>
						<array>
							<string>L3</string>
							<string>soundD3</string>
						</array>
						<array>
							<string>S3</string>
							<string>soundE3</string>
						</array>
						<array>
							<string>L4</string>
							<string>soundF3</string>
						</array>
						<array>
							<string>S4</string>
							<string>soundG3</string>
						</array>
						<array>
							<string>L5</string>
							<string>A3</string>
						</array>
					</array>
				</array>
				<key>challenge02</key>
				<array>
					<string>G major Pentascale</string>
					<array>
						<array>
							<string>L1</string>
							<string>soundG2</string>
						</array>
						<array>
							<string>S1</string>
							<string>soundA2</string>
						</array>
						<array>
							<string>L2</string>
							<string>soundB2</string>
						</array>
						<array>
							<string>S2</string>
							<string>soundC3</string>
						</array>
						<array>
							<string>L3</string>
							<string>soundD3</string>
						</array>
					</array>
				</array>
				<key>challenge03</key>
				<array>
					<string>A minor Pentascale</string>
					<array>
						<array>
							<string>S1</string>
							<string>soundA2</string>
						</array>
						<array>
							<string>L2</string>
							<string>soundB2</string>
						</array>
						<array>
							<string>S2</string>
							<string>soundC3</string>
						</array>
						<array>
							<string>L3</string>
							<string>soundD3</string>
						</array>
						<array>
							<string>S3</string>
							<string>soundE3</string>
						</array>
					</array>
				</array>
				<key>challenge04</key>
				<array>
					<string>C major Pentascale</string>
					<array>
						<array>
							<string>S2</string>
							<string>soundC3</string>
						</array>
						<array>
							<string>L3</string>
							<string>soundD3</string>
						</array>
						<array>
							<string>S3</string>
							<string>soundE3</string>
						</array>
						<array>
							<string>L4</string>
							<string>soundF3</string>
						</array>
						<array>
							<string>S4</string>
							<string>G3</string>
						</array>
					</array>
				</array>
			</dict>
		</dict>
		<dict>
			<key>background</key>
			<string></string>
			<key>clef</key>
			<string></string>
			<key>timeLimit</key>
			<string></string>
			<key>challenges</key>
			<dict/>
		</dict>
	</array>
</dict>
</plist>
